* {
	-webkit-animation-duration: 2s!important;
	-moz-animation-duration: 2s!important;
	-o-animation-duration: 2s!important;
	-ms-animation-duration: 2s!important;
	animation-duration: 2s!important;
}

body {
	font-family: 'Catamaran', sans-serif;
	overflow-x: hidden;
}

section {
	padding-left: 10px;
	padding-right: 10px;
}

h1, h2, h3, h4, h5, h6 {
	margin-bottom: 0;
}

h2 {
	font-size: 6rem;
    font-weight: 800;
    line-height: 5rem;
}

h3 {
	font-size: 5rem;
}

.table td {
	text-align: right;
}

.table th {
	text-align: left;
}

td, th {
	border: 0!important;
}

.lead {
	font-weight: bolder;
}

.handwriting {
	font-family: 'Alex Brush', cursive;
	letter-spacing: 5px;
}

footer {
	position: relative;
	height: 100vh;
}

footer img {
	display: none;
}

/*
 * Backgrounds
 */
.bg {
	background-repeat: repeat-y;
	background-position: center;
	background-size: cover;
}

.bg.light {
	background-image: url('../images/light-bg.jpg');
	color: #204659;
}

.bg.dark {
	background-image: url('../images/dark-bg.jpg');
	color: #fff;
	text-shadow: 0px 0px 1px #000;
}

.bg.img {
	background-image: url('../images/footer-bg.jpg');
	color: #fff;
}

/*
 * Helper Classes
 */
.font-sm {
	font-size: 1.2rem;
}

.font-md {
	font-size: 1.4rem;
}

.font-lg {
	font-size: 2.2rem;
	line-height: 3rem;
}

.font-light {
	font-weight: 300;
}

/*
 * Media Queries
 */
@media screen and (max-width: 768px) {
	.text-center-sm {
		font-size: 20px;
		text-align: center!important;
	}

	footer {
		height: auto;
		background: none!important;
	}

	footer.pb-5, footer.pt-5 {
		padding: 0!important;
	}

	footer img {
		display: block;
	}

	footer h2 {
		position: absolute;
		top: 10%;
		right: 10%;
		font-size: 2rem;
	}
}

@media screen and (max-width: 600px) {
	.rubberBand {
		text-align: left;
		line-height: 4rem;
		font-size: 3.5rem;
	}
}